<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>GestionConge</display-name>
  <servlet>
    <servlet-name>AccueilS</servlet-name>
    <servlet-class>com.gestionconge.servlets.AccueilS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilS</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AbsenceS</servlet-name>
    <servlet-class>com.gestionconge.servlets.AbsenceS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbsenceS</servlet-name>
    <url-pattern>/Absence</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CongeS</servlet-name>
    <servlet-class>com.gestionconge.servlets.CongeS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CongeS</servlet-name>
    <url-pattern>/Conge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DemandeS</servlet-name>
    <servlet-class>com.gestionconge.servlets.DemandeS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandeS</servlet-name>
    <url-pattern>/Demandes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FonctionnaireS</servlet-name>
    <servlet-class>com.gestionconge.servlets.FonctionnaireS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FonctionnaireS</servlet-name>
    <url-pattern>/Fonctionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArchiveS</servlet-name>
    <servlet-class>com.gestionconge.servlets.ArchiveS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArchiveS</servlet-name>
    <url-pattern>/Archive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjoutFonctionnaireS</servlet-name>
    <servlet-class>com.gestionconge.servlets.AjoutFonctionnaireS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutFonctionnaireS</servlet-name>
    <url-pattern>/AjoutFonctionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profileS</servlet-name>
    <servlet-class>com.gestionconge.servlets.profileS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileS</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EtatS</servlet-name>
    <servlet-class>com.gestionconge.servlets.EtatS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EtatS</servlet-name>
    <url-pattern>/Etat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FeriesS</servlet-name>
    <servlet-class>com.gestionconge.servlets.FeriesS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeriesS</servlet-name>
    <url-pattern>/Feries</url-pattern>
  </servlet-mapping>
 
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>